<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="notepadplusplus"  packageParameters="--force --force-dependencies" />
      <package id="git" packageParameters="/GitAndUnixToolsOnPath /NoGitLfs /SChannel /NoAutoCrlf" />
      <package id="tortoisegit" />
      <package id="tortoisesvn" />
      <package id="googlechrome" />
      <package id="slack" />
      <package id="kdiff3" />
      <package id="winmerge" />
      <package id="jing" />
      <package id="sharex" />
      <package id="fiddler" />
      <package id="wireshark" />
      <package id="docker" />
      <package id="putty" />
      <package id="nodejs" />
      <package id="nvm" />
      <package id="vscode" />
      <package id="sql-server-management-studio" />
      <package id="visualstudio2015professional" />
      <package id="resharper" packageParameters="--version 2017.3.5" />
    </packages>
